* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 1300.9px
}
header{
     background: linear-gradient(to right, #7f00ff, #e100ff);
}
.nav-links ul li {
    margin: 20px 5px 10px 10px;
    display: inline-block;
    position: relative;
    left: 30%
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 16px;
    background-color: #FFA43A;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Bebas Neue', cursive;
    ;
}
.nav-links ul li a:hover{
    background-color: white;
    color: #FFA43A
}
main {
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
.container{
    max-height: 420px;
    
}
.container .box-1 img {
    height: 420px;
    width: 780px;
    position: relative;
    top: 150px;
    left: 7%;
}

.box-1 p {
    text-align: center;
    width: 250px;
    font-size: 30px;
    color: #fff;
    position: relative;
    bottom: 80px;
    left: 8%;
    background-color: #FFA43A;
    border: 1px solid #FFA43A;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.box-2 img {
    height: 28vh;
    position: relative;
    bottom:316px;
    left: 68%;

}

.box-2 p {
    width: 110px;
    text-align: center;
    position: relative;
    bottom: 365px;
    left: 77%;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    background-color: #FFA43A;
    border: 1px solid #FFA43A;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.box-3 img {
    height: 190px;
    width: 345px;
    position: relative;
    bottom: 320px;
    left: 68%;
}

.box-3 p {
    width: 205px;
    text-align: center;
    position: relative;
    bottom: 365px;
    left: 74%;
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    background-color: #FFA43A;
    border: 1px solid #FFA43A;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.box-2 a,.box-3 a{
    text-decoration: none;
    color: white;
}
.box-info1 {
    height: 200px;
    width: 270px;
    background-color: #fff;
    border: 1px solid #fff;
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 209px;
    left: 7%;
}

.box-info1 img {
    height: 10vh;
    position: relative;
    left: 37%;
}

.box-info1 p {
    position: relative;
    color: black;
    left: 22%;
    bottom: -35px
}

.box-info2 {
    height: 200px;
    width: 270px;
    background-color: #fff;
    border: 1px solid #fff;
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    bottom: -9px;
    left: 29%;
}

.box-info2 img {
    height: 6vh;
    position: relative;
    left: 37%;
    margin-top: 13px;
}

.box-info2 p {
    position: relative;
    color: black;
    left: 22%;
    bottom: -52px
}

.box-info3 {
    height: 200px;
    width: 265px;
    background-color: #fff;
    border: 1px solid #fff;
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    bottom: 189.9px;
    left: 50.6%;
}

.box-info3 img {
    height: 10vh;
    position: relative;
    left: 37%;
}

.box-info3 p {
    position: relative;
    color: black;
    left: 22%;
    bottom: -35px
}

.box-info4 {
    height: 200px;
    width: 275px;
    background-color: #fff;
    border: 1px solid #fff;
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    bottom:389.9px;
    left: 73%;
}

.box-info4 img {
    height: 10vh;
    position: relative;
    left: 37%;
}

.box-info4 p {
    position: relative;
    color: black;
    left: 22%;
    bottom: -35px
}

.info-box {
    height: 400px;
    width: 86.5%;
    background-color: #fff;
    border: 1px solid #fff;
    color: white;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    bottom:319px;
    left: 7%;

}

.info-box img {
    height: 250px;
    position: relative;
    top: 70px;
    left: 7%;
}

.info-box h1 {
    font-size: 25px;
    color: black;
    position: relative;
    bottom: 110px;
    left: 40%;
}

.info-box p {
    font-size: 25px;
    color: black;
    position: relative;
    bottom: 120px;
    left: 40%;
    font-family: 'Abel', sans-serif;
}

.info-box button {
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 110px;
    left: 40%;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid #FFA43A;
    background-color: #FFA43A;
    padding: 5px 15px;
}

.social-footer {
    height: 290px;
    width: 100%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid #404040;
    background-color: #404040;
    margin-top: -320px 
}

.social-footer p {

    position: relative;
    top: 5%;
    left: 4%;
    margin-left: 15px;
    margin-bottom: 15px

}

.social-footer p a {
    color: white;
    text-decoration: none;
}

.social-footer p a:hover {
    color: #FFA43A;
}

.social-footer img {
    height: 06vh;
    position: relative;
    bottom:80px;
    left: 91%;
}

.social-footer a:hover img {
    background-color: #FFA43A;
}

.Copyright {
    height: 30px;
    width: 100%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid #0D0D0D;
    background-color: #0D0D0D;
    text-align: center;
}
